.form-input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-input {
    font-family: Pixel, Arial, sans-serif;
    width: 100%;
    padding: 10px;
    color : var(--text-color);
    background-color: var(bg-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    outline: none;
    border-color: var(--primary-color);
  }
  
  .input-error {
    border-color: var(--error-color);
  }
  
  .error-message {
    color: var(--error-color);
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 0;
    animation: error-shake 0.3s;
  }
  
  @keyframes error-shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
  }